h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Trámites legales para la constitución de una empresa', 'main.html#page/tramites/')
                    +navTemaItem('2', 'Trámites de formalización', 'main.html#page/formalizacion/')
                    +navTemaItem('3', 'Trámites de funcionamiento', 'main.html#page/funcionamiento/')
                    +navTemaItem('4', 'Otros trámites complementarios', 'main.html#page/otros/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')