include ../mixins/functions

+pageHeader('Procedimiento para constitución empresarial', 'assets/images/header/header_media.svg')

.container#transformaciones

    .header-ecored

        h1 2. Trámites de formalización

        .brand-line-primary

        p La legalización o formalización de un negocio es la etapa en que la empresa se incorpora a la economía formal de una nación, con el objetivo de generar empleo, rentabilidad y seguridad laboral a los trabajadores.

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img7.svg", style="width: 100%")

    br

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img8.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Consultar si es posible utilizar el nombre seleccionado por el empresario para el negocio a formalizar, de tal manera que esté disponible.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img9.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Efectuar la redacción y suscripción de los estatutos para que los socios conozcan sus obligaciones y responsabilidades, entre ellos y la empresa.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img10.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Antes de realizar el registro de la empresa se puede tramitar el pre-RUT documento previo al registro único tributario definitivo, para ello el empresario debe presentar los estatutos, formularios diligenciados, cédula de ciudadanía del titular y del suplente.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img11.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Efectuar la inscripción del registro, trámite a realizar en la Cámara de Comercio, donde después de evaluar la legitimidad de los estatutos se procede a pagar el 0,7 % del monto del capital asignado.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img12.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Con la empresa registrada y el pre-RUT, el empresario debe abrir una cuenta bancaria en el banco de su preferencia.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img13.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Con la cuenta bancaria se procede a tramitar en la DIAN el RUT (registro único tributario) definitivo.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img14.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Con el RUT definitivo generado por la DIAN,  se procede a entregarlo en la Cámara de Comercio para que en el certificado de existencia y representación legal de la empresa, no figure como provisional.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img15.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Solicitar en la DIAN una resolución de facturación, puede ser manual inicialmente. La importancia radica en que sin facturas no se puede cobrar el servicio o productos.

    .row(style="margin-bottom: 10px").justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img16.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong En la Cámara de Comercio solicitar la inscripción de los libros tanto el de actas como el de accionistas. Este es un procedimiento obligatorio para todas las empresas, el no hacerlo le puede ocasionar la pérdida de beneficios tributarios.

    .row.justify-content-md-center

        .col-auto

            img(src="assets/images/pages/img17.svg", style="width: 40%; margin-top: 5px").img-fluid.float-right

        .col-8

            p.m-0
                strong Realizar el registro de la empresa al sistema de seguridad social, para que los trabajadores puedan acceder al sistema obligatorio del servicio de salud y la empresa pueda contratar trabajadores de forma legal.

    .row.mx-0.my-5
        
        .card

            .card-body(style="border-bottom: solid 2px #5F3BBF")

                .card-text

                    p Con la ejecución de las actividades propuestas y la asesoría de funcionarios de la Cámara de Comercio, la DIAN y otras entidades que se consideren importantes en este proceso, se puede llevar a cabo los trámites de formalización, lo que conllevará el normal funcionamiento del negocio y reconocimiento de la empresa en el mercado nacional.
    
    .row.mx-0.text-center

        .col-12

            img(src="assets/images/pages/img18.svg", style="width: 20%")