include ../mixins/functions

+pageHeader('Procedimiento para constitución empresarial', 'assets/images/header/header_media.svg')

.container#funcionamiento

    .row-12

        h1 3. Trámites de funcionamiento

        .brand-line-primary
    
        p Para que la empresa entre a operar normalmente debe de obtener unos certificados, para que las instituciones gubernamentales puedan verificar las diferentes actividades y requisitos legales que el negocio requiere para su actividad económica.

    br

    .row-12

        img(src="assets/images/pages/img19.svg", style="width: 100%")

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img20.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p(style="color: #5F3BBF")
                strong Certificado de uso de suelos:

            p Documento expedido por el Departamento Administrativo de Planeación Municipal, el cual indica si el establecimiento comercial se puede ubicar en ese espacio de acuerdo con su dirección y localización. Por ello, es importante obtener el dictamen escrito de la utilización del predio o edificio.

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img21.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p(style="color: #5F3BBF")
                strong Certificado de seguridad:

            p Documento expedido por el cuerpo de bomberos del municipio, el cual garantiza que el sitio cumple con las condiciones mínimas de seguridad como: sistema contra incendios, vías de evacuación y salidas de emergencia, señalización adecuada y demás. Con este certificado se aporta al cumplimiento de los requisitos del sistema de gestión de seguridad y salud en el trabajo de acuerdo con la normativa legal vigente.

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img22.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p(style="color: #5F3BBF")
                strong Concepto sanitario:

            p Documento expedido por la secretaría de salud municipal que certifica que el lugar cumple con las normas básicas de salubridad, requerido para brindar a los usuarios seguridad y confianza; y a los trabajadores, salud.

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img23.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p(style="color: #5F3BBF")
                strong Concepto ambiental:

            p Expedido por el Departamento Administrativo de Gestión del Medio Ambiente  (DAGMA) o por la Corporación Autónoma Regional (CAR), en el cual se entrega un diagnóstico de los requerimientos ambientales de ley que debe cumplir el establecimiento comercial. 

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img24.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p(style="color: #5F3BBF")
                strong Certificado de Sayco y Acinpro:

            p Acinpro es la entidad encargada de recaudar el derecho de comunicar la música fonograbada utilizada por las emisoras, canales de televisión y establecimientos comerciales. Sayco es la encargada de recaudar los derechos de autorización de reproducción, ejecución en vivo y en los diversos establecimientos de comercio. Por lo tanto, este certificado se paga por derechos de autor.

    br
