include ../mixins/functions

+pageHeader('Procedimiento para constitución empresarial', 'assets/images/header/header_media.svg')

.container#introduccion

    .row-12

        h1 Introducción

        .brand-line-primary


    .row-12.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fCS0WEcYbmo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body(style="border-bottom: solid 2px #5F3BBF")

                .card-text

                    p Cuando un emprendedor lleva cabo una idea de negocio que permita soñar con la conformación de una empresa, se hace la pregunta ¿cómo se puede formalizar una empresa o negocio? Entonces surge la necesidad de convertirse en formal, como una organización que genere seriedad, imagen e identidad corporativa en el mercado, cumplimiento en sus obligaciones y confianza en sus clientes.

                    br

                    p El significado de formalidad se basa en realizar una serie de trámites en la Cámara de Comercio, la Dirección de Impuestos y aduanas Nacionales (DIAN) y otras entidades que le permitan operar legalmente con el desarrollo de sus actividades y generar ingresos y estabilidad dentro de la normativa establecida por el Estado colombiano.

                    br

                    p Por lo anterior, en este material de formación se presentará el procedimiento para la formalización de empresas a través de la normativa vigente en Colombia.