.container

  ol

    li
      p 
        | Asesorías tu mejor opción 12. (Sin fecha). 
        i Requisitos para legalizar una empresa. 
        | Recuperado de: 
        a(href="https://asesoriastumejoropcion12.wordpress.com/requisitos-para-legalizar-una-empresa/", target="_blank") https://asesoriastumejoropcion12.wordpress.com/requisitos-para-legalizar-una-empresa/
        
    li
      p 
        | Cámara de Comercio de Bogotá. (Sin fecha). 
        i Beneficios de la formalidad y riesgos de la informalidad. 
        | Recuperado de: 
        a(href="https://www.ccb.org.co/Fortalezca-su-empresa/Temas-destacados/Formalice-su-empresa/Beneficios-de-la-formalidad-y-riesgos-de-la-informalidad", target="_blank") https://www.ccb.org.co/Fortalezca-su-empresa/Temas-destacados/Formalice-su-empresa/Beneficios-de-la-formalidad-y-riesgos-de-la-informalidad
    li
      p 
        | Cámara de Comercio de Medellín para Colombia. (Sin fecha). 
        i Consulta de nombre. 
        | Recuperado de: 
        a(href="https://www.camaramedellin.com.co/servicios-registrales/mis-registros/otros-registros/consulta-de-nombre", target="_blank") https://www.camaramedellin.com.co/servicios-registrales/mis-registros/otros-registros/consulta-de-nombre

    li
      p 
        | Corporación Regional de Educación Superior. (2018). 
        i 10 pasos para formar empresa en Colombia. 
        | Recuperado de: 
        a(href="http://corpocres.edu.co/informate/2018/01/29/10-pasos-formar-empresa-colombia/", target="_blank") http://corpocres.edu.co/informate/2018/01/29/10-pasos-formar-empresa-colombia/

    li
      p 
        | Dinero. (2017). 
        i Todo sobre creación y registro de empresas. 
        |  Recuperado de: 
        a(href="https://www.dinero.com/empresas/articulo/como-se-crea-y-se-registra-una-empresa-en-colombia/243192", target="_blank") https://www.dinero.com/empresas/articulo/como-se-crea-y-se-registra-una-empresa-en-colombia/243192

    li
      p 
        | Encolombia. (Sin fecha). 
        i Guía para el trámite de creación y formalización de una empresa. 
        | Recuperado de: 
        a(href="https://encolombia.com/economia/economiacolombiana/emprendimiento/guiaparaeltramitedecreacion/", target="_blank") https://encolombia.com/economia/economiacolombiana/emprendimiento/guiaparaeltramitedecreacion/

    li
      p 
        | Invima. (Sin fecha). 
        i Dispositivos médicos. 
        | Recuperado de: 
        a(href="https://webcache.googleusercontent.com/search?q=cache:CDm4yGrIUQgJ:https://www.invima.gov.co/quienes-somos+&cd=4&hl=es&ct=clnk&gl=co", target="_blank") https://webcache.googleusercontent.com/search?q=cache:CDm4yGrIUQgJ:https://www.invima.gov.co/quienes-somos+&cd=4&hl=es&ct=clnk&gl=co

    li
      p 
        | La voz de los emprendedores. (Sin fecha). 
        i Pasos para formalizar mi empresa. 
        | Recuperado de: 
        a(href="https://www.pqs.pe/actualidad/noticias/pasos-para-formalizar-mi-empresa", target="_blank") https://www.pqs.pe/actualidad/noticias/pasos-para-formalizar-mi-empresa

    li
      p 
        | Palomino, C.; Peñuela, N.; Rodríguez, J.; y Zúñiga, P. (2013). 
        i Pasos para crear y registrar tu empresa en Bogotá. 
        | Recuperado de: 
        a(href="https://bibliotecadigital.ccb.org.co/bitstream/handle/11520/14077/Resumen.pdf?sequence=2&isAllowed=y", target="_blank") https://bibliotecadigital.ccb.org.co/bitstream/handle/11520/14077/Resumen.pdf?sequence=2&isAllowed=y

    li
      p 
        | Superintendencia de Industria y Comercio. (Sin fecha). 
        i ¿Qué se puede registrar como una marca? 
        | Recuperado de: 
        a(href="http://www.sic.gov.co/node/78", target="_blank") http://www.sic.gov.co/node/78